.main {
  display: flex;
  justify-content: center;
}

.side-bar {
  order: 2;
  width: 20%;
  height: 94vh;
  padding: 2vh;
  overflow: hidden;
}

.sidebar:hover {
  overflow: auto;
}

.content {
  order: 1;
  width: 60%;
  max-width: 600px;
  min-width: 360px;
  height: 94vh;
  padding: 2vh;
  overflow: hidden;
  scrollbar-gutter: stable;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.content:hover {
  overflow: auto;
}

.error-message {
    color: crimson;
}