<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>Sylva-top</title>
</head>
<body>
<div class="header-contents">
    <h1>Sylva</h1>
</div>
<div class="main-contents">
    <div th:if="${loginUser == null}">
        <input class="login-button" type="button" value="ログイン" onclick="location.href='/login'">
        <input class="signup-button" type="button" value="サインアップ" onclick="location.href='/signup'">
    </div>
    <div th:if="${loginUser != null}">
        <input class="logout-button" type="button" value="ログアウト" onclick="location.href='/logout'">
    </div>

    <div th:if="${loginUser != null}">
        メールアドレス:<span th:text="${loginUser.emailAddress}"></span><br/>
        ユーザーID：<span th:text="${loginUser.handle}"></span><br/>
        ユーザー名：<span th:text="${loginUser.nickname}"></span><br/>
    </div>

    <span th:text="${message}"></span>
</div>
</body>
</html>