<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/base/style.css}" rel="styleSheet">
  <link th:href="@{/css/components/form.css}" rel="styleSheet">
  <title>Sylva-sign-up</title>
</head>
<body>
<div class="header-contents">
  <h1>Sign up to Sylva</h1>
</div>
<div class="main-contents">
  <form th:action="@{/signup}" th:method="post" th:object="${signupForm}">
    <table class="sign-up-form-table">
      <tr>
        <td><label>メールアドレス</label></td>
        <td>
            <input type="text" th:field="*{emailAddress}" /><br/>
            <span class="error-message" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
        </td>
      </tr>
      <tr>
        <td><label>パスワード</label></td>
        <td>
            <input type="password" th:field="*{rawPassword}" /><br/>
            <span class="error-message" th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}"></span>
        </td>
      </tr>
      <tr>
        <td><label>ユーザーID</label></td>
        <td>
            <input type="text" th:field="*{handle}" /><br/>
            <span class="error-message" th:if="${#fields.hasErrors('handle')}" th:errors="*{handle}"></span>
        </td>
      </tr>
      <tr>
        <td><label>ユーザー名</label></td>
        <td>
            <input type="text" th:field="*{nickname}" /><br/>
            <span class="error-message" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
        </td>
      </tr>
    </table>
    <input type="submit" value="登録" />
  </form>
</div>
</body>
</html>