<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/base/style.css}" rel="styleSheet">
    <link th:href="@{/css/layout/top.css}" rel="styleSheet">
    <link th:href="@{/css/components/post.css}" rel="styleSheet">
    <link th:href="@{/css/components/side-bar.css}" rel="styleSheet">
    <title>Sylva-top</title>
</head>
<body>
<div class="main">
    <div class="side-bar" th:insert="~{components/side-bar :: side-bar-fragment}"></div>
    <div class="time-line">
        <div class="post" th:each="post : ${posts}" th:insert="~{components/post-component :: post-fragment(post=${post})}"></div>
    </div>
</div>
</body>
</html>