<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <th:block th:insert="~{layout/base :: layout}"></th:block>
    <script defer type="module" th:src="@{/react/assets/tree.js}"></script>
    <title>Sylva-tree</title>
</head>
<body>
<div class="main">
    <div id="post-modal-root" class="post-modal" ></div>
    <div class="side-bar" th:insert="~{fragment/side-bar :: side-bar-fragment}"></div>
    <div id="tree-root" class="content" th:data-post-id="${postId}"></div>
</div>
</body>
</html>