<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <th:block th:insert="~{layout/base :: layout}"></th:block>
    <script th:src="@{/js/tree.js}"></script>
    <title>Sylva-top</title>
</head>
<body>
<div class="main">
    <div class="post-modal" th:insert="~{fragment/post-modal :: post-modal-fragment}"></div>
    <div class="side-bar" th:insert="~{fragment/side-bar :: side-bar-fragment}"></div>
    <div class="content">
        <div class="post-tree">
            <div th:if="${tree == null}">
                <span class="message" th:text="#{post.not.exist}"></span>
            </div>
            <th:block th:unless="${tree == null}" th:object="${tree}">
                <th:block th:if="${tree.ancestors != null}">
                    <th:block th:each="ancestor : *{ancestors}">
                        <div class="ancestor post" th:insert="~{fragment/post-fragment :: post-fragment(${ancestor})}"></div>
                    </th:block>
                </th:block>
                <div class="target post" th:insert="~{fragment/post-fragment :: post-fragment(post=*{target})}"></div>
                <th:block th:if="${tree.descendants != null}">
                    <th:block th:each="descendant : *{descendants}">
                        <div class="descendant post" th:insert="~{fragment/post-fragment :: post-fragment(${descendant})}"></div>
                    </th:block>
                </th:block>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>