<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>post-create-buttons</title>
</head>
<body>

<div th:fragment="post-create-buttons-head-fragment" th:remove="tag">
    </div>

<div th:fragment="create-new-post-button-fragment" th:remove="tag">
    <button class="post-create-button" data-parent-post-id="" data-quoted-post-id="">
        <span class="material-symbols-rounded">new_window</span>
    </button>
</div>

<div th:fragment="create-reply-post-button-fragment(parentPostId)" th:remove="tag">
    <button class="post-create-button" data-parent-post-id="${parentPostId}" data-quoted-post-id="">
        <span class="material-symbols-rounded">comment</span>
    </button>
</div>

<div th:fragment="create-quote-post-button-fragment(quotedPostId)" th:remove="tag">
    <button class="post-create-button" data-parent-post-id="" data-quoted-post-id="${quotedPostId}">
        <span class="material-symbols-rounded">format_quote</span>
    </button>
</div>

</body>
</html>
