<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>post-modal</title>
</head>
<body>

<div th:fragment="post-modal-fragment" th:remove="tag">
    <dialog id="post-modal">
        <div class="modal-header">
            <button id="post-modal-close-button">
                <span class="material-symbols-rounded">close</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="post-form" th:object="${postForm}">
            <textarea class="tweet-box" th:field="*{content}"
                      th:placeholder="#{post.modal.textarea.placeholder}"></textarea>
                <th:block th:each="error : ${#fields.detailedErrors()}">
                    <span class="error-message" th:text="${error.message}"></span>
                </th:block>
                <input type="hidden" th:field="*{parentPostId}">
                <input type="hidden" th:field="*{quotedPostId}">
                <ul class="error-messages"></ul>
            </form>
        </div>
        <div class="modal-footer">
            <button id="post-submit-button" type="button">
                <span th:text="#{post.modal.submit}">submit</span>
            </button>
        </div>
    </dialog>
</div>

</body>
</html>
